a:not(.no-underline):not(.is-active) {
  position: relative;
  color: var(--primary);
  &:hover {
    text-decoration: none;
    color: var(--primary);
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.is-active, .is-active:hover,
.no-underline, .no-underline:hover {
  text-decoration: none;
}


.download-btn, .big-btn {
  background: var(--primary);
  color: var(--background);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: var(--button-radius);
  margin: 1rem auto 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  // transition: all 0.5s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  i { margin-right: 1rem; }
  &:hover {
    background: linear-gradient(90deg, var(--primary-darker) 0%, var(--primary) 100%); 
  }
}
.small-btn {
  background: var(--primary);
  color: var(--background);
  border: none;
  padding: 0.25rem 0;
  cursor: pointer;
  border-radius: var(--button-radius);
  margin: 0.25rem 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.85rem;
  float: right;
  min-width: 14rem;
  // transition: all 0.5s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  i { margin: 0 0.5rem; }
  &:hover {
    background: linear-gradient(90deg, var(--primary-darker) 0%, var(--primary) 100%); 
  }
}

.no-float {
  float: none;
}
