:root {
  --header-height: 4rem;
  --sidebar-width: 18rem;
  --primary: #f04c8a;
  --primary-darker: #d33c75;
  --primary-transparent: #f04c8a36;
  --background: #fff;
  --text-color: #454545;
  --text-color-dim: #949494;
  --button-radius: 0.5rem;
  --box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  --font-family: 'Poppins', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}
